@media only screen and (max-width:2500px) and (min-width: 575px) {
    #app-category{
        display: flex;
    }
}
#navbarcontainer{
    background-color: #f8f8f8;
}
#navbar{
    background-color: #1f2225;
}
#navbaradmin{
    background-color: #43c02a;
}  
  
  