<div id="about">
  <div class="card">
    <img
      src="https://localhost:44336/images/feberliabout3.jpeg"
      style="margin-top: 0em; border-radius: 0rem"
      class="card-img-top"
      alt="..."
    />

    <div class="card-body">
      <h5 class="display-6 fst-italic">About Me</h5>
      <p class="text fst-italic">
        “When yoga and I first met in 2015 via a lovely friend of mine, I have
        to admit that I did’t like it. After a couple of months, when my dear
        friend got her certificate and started teaching yoga, I unwillingly
        accepted her request and started attending her class to support her.
        Incredibly, I realized that all the emotions which had disturbed me when
        I did yoga for the first time, started changing day by day, and yoga
        started healing my body and my soul. I could manage to calm my mind
        which had never been quiet at all and aches and pains gave way to
        relaxing.”
      </p>
      <p class="text">
        Firdevs was born in Turkey in 1986. She grew up in a lovely city called
        Bodrum. She went to Istanbul University in 2004 and she received her
        bachelor of science in geological engineering. After graduation, she
        worked as an engineering geologist for years. She started doing yoga via
        a friend of hers, who is a geologist too, in 2015. In time, she realized
        the effects of yoga on her body and her soul and she started doing yoga
        practice daily, learning and trying every kind of yoga. She moved to
        Copenhagen with her love in 2017. Here, when she took time off from yoga
        practice, her anxiety disorder came back again, and she started to
        struggle with insomnia, pains in her lower back and neck, and migraine
        attacks. While she was searching what could be the more beneficial
        solutions instead of symptomatic drugs, she found again meditation and
        yoga. Thus, her own yoga journey started again and this time she wanted
        to help other people too. She wants to show the healing power of yoga
        and meditation to everyone. She completed 200 hours of Teacher Training
        with Zeynep Aksoy, and got her RYT200 certificate. Moreover, she is
        continuing her training with the 1000 hours of Teacher Training with
        Yogarama.
      </p>
      <p class="card-text">
        <small class="text-muted">Firdevs Eberliköse Kayadan</small>
      </p>
    </div>
  </div>
</div>
