<div class="contain-fluid" style="margin-top: 0em; margin-bottom: 4em">
  <div class="card" id="banner-card">
    <img
      src="https://localhost:44336/images/feberlikose2-banner.jpeg"
      class="card-img"
      id="banner-image"
      alt="..."
    />
  </div>

  <div>
    <div
      style="text-align: center; margin-top: 0px"
      class="p-4 p-md-4 mb-3 text-dark rounded bg-light"
    >
      <div class="col py-2 px-lg-5">
        <h3 style="text-align: top;" class="display-4 fst-italic">Hello!</h3>
        <p style="text-align: justify;" class="lead my-3">
          I’m Firdevs and I’m here to guide you on your own yoga journey. My
          classes are good for everybody and appropriate for all level. Whether
          you prefer practicing online in your own time, need live classes over
          zoom, or are looking for a private yoga teacher in Copenhagen, you
          have come to the right place.
        </p>
      </div>
    </div>

    <div>
      <div>
        <div class="card-group">
          <div class="card shadow-sm" id="card1">
            <img
              id="cardgroup-image"
              src="https://localhost:44336/images/feberlikose-card-2.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Vinyasa Yoga</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <a
                href="http://localhost:4200/products/getproductdetails/2"
                class="stretched-link"
              ></a>
            </div>
          </div>
          <div id="card2" class="card shadow-sm">
            <img
              id="cardgroup-image"
              src="https://localhost:44336/images/feberlikose-card-2.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Breath</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <a
                href="http://localhost:4200/products/getproductdetails/3"
                class="stretched-link"
              ></a>
            </div>
          </div>

          <div id="card3" class="card shadow-sm">
            <img
              id="cardgroup-image"
              src="https://localhost:44336/images/feberlikose-card-2.jpeg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mindfulness</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This card has even longer content
              </p>
              <a
                href="http://localhost:4200/products/getproductdetails/4"
                class="stretched-link"
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="p-4 p-md-3 mb-1 text-black rounded"
        style="background-color: #FDA1FB69"
      >
        <div class="col py-1 px-lg-5">
          <h3 style="text-align: right; margin-top: 2px;" class="display-5 fst-italic">
            Why do people do yoga?
          </h3>

          <h5 class="display-8 fst-italic">Yoga helps you;</h5>
          <ul class="lead my-3">
            <li class="list-item">
              to obtain optimum physical health and improve your posture,
            </li>
            <li class="list-item">
              to reduce the effects of stress and anxiety in your life,
            </li>
            <li class="list-item">
              to become more present in your daily life,
            </li>
            <li class="list-item">to sleep better,</li>
            <li class="list-item">to improve your concentration.</li>
          </ul>

          <p class="lead mb-0">
            <a
              href="http://localhost:4200/products/category/1"
              class="text-black fw-bold"
              >Let's explore!</a
            >
          </p>
        </div>
      </div>
      <div
        style="text-align: center; margin-bottom: 0px"
        class="p-4 p-md-5 mb-4 text-dark rounded bg-light"
      >
        <div class="col py-1 px-lg-5">
          <h3 style="text-align: left" class="display-5 fst-italic">Choose a program</h3>
          <p style="text-align:justify" class="lead my-3">
            You can choose a suitable program below and start yoga with me. For
            more information, you can subscribe or contact me with my email
            address.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div
            class="
              card
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-250
              position-relative
            "
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Monthly</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                href="http://localhost:4200/products/category/3"
                class="stretched-link"
                >Continue reading</a
              >
            </div>
            <div class="row-auto d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="400"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#FDA1FB69" /> 
                <text x="50%" y="50%" fill="#eceeef" dy=".2em"></text>
              </svg>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div
            class="
              card
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-250
              position-relative
            "
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">Weekly</h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a
                href="http://localhost:4200/products/category/3"
                class="stretched-link"
                >Continue reading</a
              >
            </div>
            <div class="row-auto d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="400"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#FA60F896" /> 
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="
              card
              row
              g-0
              border
              rounded
              overflow-hidden
              flex-md-row
              mb-4
              shadow-sm
              h-md-350
              position-relative
            "
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">One Hour</h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="mb-auto">
                This is a wider card with supporting text below as a natural
                lead-in to additional content.
              </p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="row-auto d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="400"
                height="50"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#FA60F8" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
