<div class="contain-fluid" style="margin-top: 0em; margin-bottom: 4em; " >
  <div class="card" id="banner-card">
    <img src="https://localhost:44336/images/feberlikose2-banner.jpeg" class="card-img" id="banner-image" alt="...">
    
      
  </div>
 <div style="margin: 20px; ">
   <h3>Lorem Ipsum</h3>
   <p>
     
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
   </p>
 </div>
  <div class="card-group">
    <div  class="card" id="card1">
      <img id="cardgroup-image" src="https://localhost:44336/images/feberlikose-card-2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vinyasa Yoga</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      
    </div>
    <div id="card2" class="card">
      <img id="cardgroup-image" src="https://localhost:44336/images/feberlikose-card-2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Breath</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      
    </div>
    
    <div id="card3" class="card">
      <img id="cardgroup-image" src="https://localhost:44336/images/feberlikose-card-2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mindfulness</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content </p>
      </div>
      
    </div>
  </div>
</div>
  
    
    

