@media only screen and (max-width:990px) and (min-width: 270px) {
    .card-mb-3{
        display: block !important;
    }
}
@media only screen and (max-width:990px) and (min-width: 270px) {
    #product-card{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}
@media only screen and (max-width:990px) and (min-width: 270px) {
    .card{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}
#product-card{
    margin-left: 5px; 
    margin-right: 5px;
}
.card{
    display: flex;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 5px;
          border-radius: 5px;
          border-width: 2px;
          border-left-width: 0px;
}
#product-image{
    border-top-left-radius: 3px; border-top-right-radius: 3px;
}
#spinner{
    margin-bottom: 3em; margin-right: 5px; margin-left: 5px;
}
#search{
    margin-top: 13px; margin-bottom: 0px; display: flex;
}
#filterText{
    border-radius: 19px; border-color: rgb(0, 0, 0); border-width: 2px;
}
.spinner-grow{
    margin: 10em;
}